<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Show File-select Fields</h1>

  <h3>
      Show a file-select field which allows
      only one file to be chosen:
  </h3>

  <form action="/upload" method="post"
      enctype="multipart/form-data">
        
      <label for="myfile">Select a file:</label>
      <input type="file" id="files" name="files" multiple="multiple" />
      <br /><br />
      <input type="submit" />
  </form>
</body>
</html>